@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --delicious: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-gray: #A6A6A6;
  --orange: #FB565A;
  --orange-hover: #E74246;
  --orange-focus: #D7373B;
  --green: #00CA74;
  --green-hover: #00BC6C;
  --green-focus: #00AA62;
  --gold: #EFC849;
  --gold-hover: #EAB534;
  --gold-focus: #E5A722;
  --gray: #888888;
  --direct-energy: #666666;
  --dell: #444444;
  --grey-slider-btn: #C4C4C4;
  --grey-social: #E1E1E1;
  --grey-hover: #DFDFDF;
  --grey-focus: #D5D5D5;
  --direction-black:#231F20;
  --browser-color:#4D4D4D;
  --range-background: #D7DCDF;
  --toggle: #ABABAB;
  --popup-hover: #B4B9BB;
  --toggle-range: #ABABAB;
  --toggles-slider: #C1C1C1;
  --border-product: #DADADA;
  --border-pagination: #DBDBDB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.price-controls input[type="number"] {
  -moz-appearance: textfield;
}

.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
  -moz-appearance: number-input;
}

.page__wrapper {
  width: 1440px;
  padding: 0 140px;
  margin: 0 auto;
}

.page {
  width: 100%;
  min-width: 960px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  padding-top: 48px;
  background-color: var(--delicious);
}

.header__wrapper {
  display: flex;
}

.header__nav {
  display: flex;
  margin: 0;
}

.header__basket.basket {
  margin-left: auto;
}

.main-nav__logo {
  margin: 0;
  margin-right: 200px;
}

.main-nav__logo[href] {
  transition: color 0.2s ease, opacity 0.2s ease;
}

.main-nav__logo[href]:hover {
  color: var(--basic-black);
  opacity: 0.7;
}

.main-nav__logo[href]:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__list {
  display: flex;
  align-self: flex-start;
  width: 437px;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-right: 197px;
}

.basket__item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  margin-right: 35px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.main-nav__item:nth-child(4n) {
  margin-right: 0;
}

.main-nav__link,
.main-nav__link[href] {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 5px;
}

.basket__link {
  display: block;
  position: relative;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 5px 0;
  padding-left: 40px;
}

.main-nav__link::after {
  display: block;
  content: "";
  width: 74px;
  height: 2px;
  background-color: var(--orange);
  position: relative;
  left: 5px;
  bottom: -13px;
}

.main-nav__link[href] {
  transition: color 0.2s ease, opacity 0.2s ease;
}

.main-nav__link[href]:hover {
  color: var(--orange);
}

.main-nav__link[href]:focus {
  color: var(--basic-black);
  opacity: 0.3;
  outline: none;
}

.main-nav__link[href]:active {
  color: var(--basic-black);
  opacity: 1;
}

.main-nav__link[href]::after {
  display: none;
}

.basket__link::before {
  display: block;
  flex-wrap: wrap;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/cart-icon.svg);
  position: absolute;
  left: 0;
  top: 50%;
  margin-right: 25px;
  transform: translateY(-50%);
}

.basket {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-self: flex-start;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 16px;
  padding-right: 0;
  padding-left: 25px;
}

.basket__link[href] {
  transition: color 0.2s ease, opacity 0.2s ease;
}

.basket__link[href]:hover {
  color: var(--orange);
}

.basket__link[href]:focus {
  color: var(--basic-black);
  opacity: 0.3;
  outline: none;
}

.basket__link[href]:active {
  color: var(--basic-black);
  opacity: 1;
}

.slider {
  position: relative;
  background-color: var(--delicious);
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  display: none;
  position: relative;
  min-height: 417px;
  padding-top: 66px;
  padding-bottom: 82px;
}

.slide_active {
  display: block;
}

.slide__wrapper {
  width: 538px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.slide__tagline {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
}

.slide_inner .slide__tagline {
  margin: 0 0 37px 0;
}

.slide__description {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 41px 0;
  font-weight: 400;
}

.slide_inner .slide__description {
  margin-bottom: 30px;
}

.slide__img {
  position: absolute;
  width: 760px;
  bottom: 0;
  right: 0;
  z-index: 0;
  font-size: 0;
  line-height: 0;
}

.slider__toggles {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 96px;
  transform: translateX(-50%);
}

.toggles {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 18px;
}

.toggles__item {
  margin-left: 9px;
  margin-right: 9px;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  background-color: var(--basic-white);
  outline: 0;
}

.toggles__item_active {
  position: relative;
}

.toggles__item_active::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 8px;
  height: 8px;
  border: 2px solid var(--toggles-slider);
  border-radius: 50%;
}

.btn,
.pagination__link {
  display: block;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--orange);
  color: var(--basic-white);
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  border: none;
}

.btn_md {
  width: 240px;
}

.btn_md:hover,
.btn_red:hover,
.social__link:hover,
.contacts__btn:hover {
  background-color: var(--orange-hover);
}

.btn_md:focus,
.btn_red:focus,
.social__link:focus,
.contacts__btn:focus {
  background-color: var(--orange-focus);
  color: rgba(255, 255, 255, 0.3);
}

.offer__btn {
  width: 160px;
}

.btn_green {
  background-color: var(--green);
}

.btn_green:hover {
  background-color: var(--green-hover);
}

.btn_green:focus {
  background-color: var(--green-focus);
  color: rgba(255, 255, 255, 0.3);
}

.btn_gold {
  background-color: var(--gold);
}

.btn_gold:hover {
  background-color: var(--gold-hover);
}

.btn_gold:focus {
  background-color: var(--gold-focus);
  color: rgba(255, 255, 255, 0.3);
}

.btn_full {
  width: 100%;
}

.btn_grey,
.pagination__link_next {
  width: 260px;
  background-color: var(--delicious);
  color: var(--basic-black);
}

.btn_grey:hover {
  background-color: var(--grey-hover);
}

.btn_grey:focus {
  background-color: var(--grey-focus);
  color: rgba(0, 0, 0, 0.3);
}

.offers__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.offers {
  margin: 60px 0 80px;
}

.offer {
  margin: 20px 0 0 0;
}

.offer__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin: 0 0 17px 0;
}

.offer__img {
  margin: 0 0 18px 0;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
}

.offers__item {
  margin-right: 100px;
}

.offers__item:nth-child(3n) {
  margin-right: 0;
  }

.offers__item:nth-child(3n) {
  margin-right: 0;
}

.offer__description {
  display: block;
  position: relative;
  width: 260px;
  margin: 0;
  padding: 0 0 31px 0;
  font-weight: normal;
}

.about {
  display: flex;
  padding: 39px 0 51px 0;
  border-top: 2px solid var(--delicious);
  border-bottom: 2px solid var(--delicious);
}

.about__logo {
  margin: 0 0 32px 0;
}

.about__left {
  width: 650px;
  flex-shrink: 0;
  margin-right: auto;
}

.about__right {
  width: 362px;
}

.about__slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  align-items: center;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.about__slogan strong {
  font: inherit;
}

.about__description {
  margin: 0 0 40px 0;
}

.about__list-description {
  width: 306px;
  margin: 0;
  padding-bottom: 23px;
  text-transform: uppercase;
}

.skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills__item {
  position: relative;
  padding-left: 38px;
  margin-bottom: 24px;
  font-weight: normal;
}

.skills__item::before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotateY(-50%);
}

.list__description,
.table__title {
  font-weight: bold;
  text-transform: uppercase;
}

.table__title {
  padding-right: 4px;
  margin-bottom: 28px;
}

.table__td {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin: 0;
  padding: 0px 18px 9px 0;
}

.table__td sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.table__th {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  padding-right: 22px;
}

.partners {
  margin-bottom: 21px;
}

.partners__list {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-gap: 40px;
  padding: 47px 0 36px 0;
  margin: 0;
  border-bottom: 2px solid var(--delicious);
  list-style: none;
}

.partners__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__item::after {
  display: block;
  position: absolute;
  background-color: var(--delicious);
  content: "";
  width: 2px;
  height: 52px;
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
}

.partners__item:nth-child(4n)::after {
  display: none;
}

.partner {
  color: var(--basic-black);
  opacity: 0.2;
}

.partner {
  transition: color 0.2s ease, opacity 0.2s ease;
}

.partner:hover {
  color: var(--basic-black);
  opacity: 1;
}

.partner:focus {
  color: var(--basic-black);
  opacity: 0.1;
}

.footer {
  padding-bottom: 76px;
  padding-top: 59px;
}

.footer__bottom {
  display: flex;
  align-items: flex-start;
  padding-top: 68px;
}

.footer__map {
  display: flex;
  width: 100%;
  height: 416px;
  align-items: center;
  justify-content: center;
}

.footer__map img {
  width: 100%;
  max-height: 100%;
}

.footer__contacts {
  position: absolute;
  top: 52px;
  left: 140px;
}

.contacts {
  width: 319px;
  background-color: var(--basic-white);
  padding: 50px;
}

.contacts__address {
  margin: 0 0 19px 0;
}

.contacts__phone {
  margin: 0 0 38px 0;
}

.footer__right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  margin-left: 139px;
  padding-top: 5px;
}

.footer__slogan {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.footer__discount {
  line-height: 22px;
  font-weight: normal;
  margin: 0;
}

.footer__wrapper {
  position: relative;
}

.footer-social {
  display: flex;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.contacts {
  font-size: 16px;
  line-height: 18px;
  color: var(--direct-energy);
}

.contacts__phone > a {
  text-decoration: none;
  color: var(--direct-energy);
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__item {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  position: relative;
  margin: 0;
}

.social__item + .social__item {
  margin-left: 9px;
}

.social__link {
  display: flex;
  align-items: center;
  content: "";
  width: 81px;
  height: 81px;
  justify-content: center;
  padding: 5px;
  background-color: var(--grey-social);
  border-radius: 50%;
}

.social__link:focus {
  fill: var(--basic-white);
  fill-opacity: 0.3;
}

.catalog__sorting {
  margin-bottom: 48px;
}

.sorting {
  display: flex;
  align-items: flex-start;
}

.sorting__text {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 32px;
}

.sorting__item + .sorting__item {
  margin-left: 25px;
}

.sorting__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:focus:active {
  color: var(--basic-black);
}

.sorting__direction {
  display: flex;
}

.direction {
  list-style: none;
  padding: 0;
  margin: 0;
}

.direction__item {
  padding-left: 18px;
}

.direction__item path {
  fill: var(--basic-gray);
  fill-opacity: 0.2;
}

.direction__link_active path {
  fill: var(--basic-black);
  fill-opacity: 1;
}

.direction__link path:hover {
  fill: var(--basic-gray);
  fill-opacity: 1;
}

.direction__link path:focus {
  fill: var(--basic-black);
  fill-opacity: 1;
}


.page-title {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--delicious);
  padding-top: 56px;
  padding-bottom: 108px;
}

.page-title__title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
}

.catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 140px;
  align-content: start;
  padding-top: 55px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__block {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form__block + .form__block {
  margin-top: 43px;
}

.form__subtitle {
  display: block;
  font: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 13px 0;
  padding: 0;
}

.form__range {
  margin-top: 33px;
  margin-bottom: 11px;
}

.form__btn {
  margin-top: 48px;
}

.range-filter {
  width: 100%;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  box-sizing: content-box;
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.price-controls input {
  box-sizing: content-box;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.option-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.option-list__item {
  width: 100%;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option input[type="checkbox"] + .option__element,
.option input[type="radio"] + .option__element {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: top left;
  margin-right: 11px;
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

.option input[type="checkbox"]:checked + .option__element {
  background-image: url("../img/svg/checkbox-on.svg");
}

.option input[type="checkbox"] + .option__element {
  background-image: url("../img/svg/checkbox-off.svg");
}

.option input[type="radio"] + .option__element {
  background-image: url("../img/svg/radio-off.svg");
}

.option input[type="radio"]:checked + .option__element {
  background-image: url("../img/svg/radio-on.svg");
}

.option input[type="checkbox"]:hover + .option__element,
.option input[type="radio"]:hover + .option__element,
.option input[type="checkbox"]:focus + .option__element,
.option input[type="radio"]:focus + .option__element {
  opacity: 1;
}

.option input[type="checkbox"]:disabled + .option__element,
.option input[type="radio"]:disabled + .option__element {
  opacity: 0.1;
}

.option__label {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #283136;
}

.option-list__item + .option-list__item {
  margin-top: 15px;
}

.catalog__item .product__wrapper {
  display: none;
}

.catalog__item:hover .product__wrapper {
  display: block;
}

.sorting__text {
  margin: 0;
}

.catalog__sorting {
  display: flex;
  justify-content: space-around;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.product {
  width: 100%;
  border: 1px solid var(--border-product);
  border-radius: 0 0 5px 5px;
  margin-top: 40px;
  position: relative;
}

.product:hover {
  border: 1px solid transparent;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.product::before {
  display: block;
  width: calc(100% + 2px);
  height: 40px;
  content: "";
  position: absolute;
  top: -41px;
  left: -1px;
  background-image: url("../img/svg/browser-svg.svg");
  opacity: 0.12;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.product:hover::before {
  opacity: 1;
}

.product__img {
  display: block;
  font-size: 0;
  line-height: 0;
}

.product__wrapper {
  position: absolute;
  width: 360px;
  min-height: 231px;
  background-color: var(--delicious);
  text-align: center;
  bottom: -1px;
  left: -1px;
  border-radius: 0 0 5px 5px;
  padding: 25px 80px 44px;
}

.product__title {
  display: block;
  width: 100%;
  color: var(--basic-black);
  text-align: center;
  margin: 0 0 14px 0;
}

.product__title h3 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.product__title:hover {
  color: var(--orange);
}

.product__title:focus {
  color: rgba(0, 0, 0, 0.3);
}

.product__description {
  color: var(--direct-energy);
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 33px 0;
}

.product__link {
  display: block;
  content: "";
  width: 200px;
  height: 50px;
  background-color: var(--orange);
  color: var(--basic-white);
  border-radius: 3px;
  text-align: center;
}

.product__link:hover {
  background-color: var(--orange-hover);
}

.product__link:focus {
  background-color: var(--orange-focus);
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__item {
  display: flex;
  align-self: flex-start;
  margin-right: 11px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  width: 50px;

  height: 50px;
  border: 3px solid var(--delicious);
  font-size: 16px;
  color: var(--basic-black);
  border-radius: 3px;
  background-color: var(--delicious);
  margin: 0;
}

.pagination__link_next {
  width: 260px;
}

.pagination__link:hover {
  background-color: var(--grey-hover);
}

.pagination__link:focus {
  background-color: var(--grey-focus);
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link_active {
  background-color: var(--basic-white);
  border: 3px solid var(--border-pagination);
}

.direction__link_active,
.sorting__link_active {
  color: var(--direction-black);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  border: none;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding: 63px 100px 84px;
}

.popup_show {
  display: block;
}

.popup__form {
  background: var(--basic-white);
}

.popup__head {
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 37px;
}

.popup__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 24px;
}

.popup__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: block;
  margin-bottom: 9px;
}

.popup__input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--range-background);
  color: var(--dell);
  opacity: 0.5;
  font-size: 16px;
  padding: 5px 9px;
  margin-bottom: 9px;
  line-height: 18px;
}

.popup__textarea {
  width: 760px;
  height: 118px;
  border: 2px solid var(--range-background);
  color: var(--dell);
  opacity: 0.5;
  padding: 15px 16px;
  margin-bottom: 47px;
  font-size: 16px;
  line-height: 18px;
  resize: none;
}

.popup__input:hover,
.popup__textarea:hover {
  border-color: var(--popup-hover);
}

.popup__input:focus,
.popup__textarea:focus {
  border-color: var(--basic-black);
  color: var(--dell);
}

.popup__input.error,
.popup__textarea.error {
  border-color: var(--orange-hover);
  color: var(--orange-hover);
}

.popup__input.error:focus,
.popup__textarea.error:focus {
  border-color: var(--orange-hover);
  color: var(--orange-hover);
}

.popup__btn {
  width: 259px;
  margin-top: -5px;
}

.popup__btn:hover {
  background-color: var(--orange-hover);
}

.popup__btn:focus {
  background-color: var(--orange-focus);
  color: rgba(255, 255, 255, 0.3);
}

.popup__close {
  display: block;
  position: absolute;
  background-image: url(../img/svg/btn__close.svg);
  background-color: var(--basic-white);
  cursor: pointer;
  border: none;
  right: 90px;
  top: 78px;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:focus {
  opacity: 0.1;
}
